* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
}

.border {
  border: 1px solid black;
}

.flex {
  display: flex;
  width: 100vw;
}

.results {
  width: 500px;
}

.playername {
  position: absolute;
  top: 11rem;
  left: 7rem;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  color: aliceblue;
}

.playerbtn {
  position: absolute;
  top: 14.5rem;
  left: 10.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  color: aliceblue;
}

.hide {
  display: none;
}
